
:root {
    --cor2: #00c7d6;
    --azulPrincipal: #1a689d;
    --azulSecundario: #2886c5;
    --azulFraco: #f7fcff;
    --h1: black;
    --h1-white: white;
    --H2: rgb(35, 35, 35);
    --H2-white: rgb(216, 216, 216);
    --H3: rgb(50, 50, 50);
    --H3-white: rgb(185, 185, 185);
    --Paragrafo-black: rgb(26, 26, 26);
    --Paragrafo-white: rgb(245, 245, 245);
}

* {
    font-family: 'Poppins', sans-serif;
}

.center {
    text-align: center;
}

/*-----header-----*/

#menu {
    margin: 0;
    padding: 8px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    z-index: 11;
}

#menu .row {
    margin: 0;
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    background-color: #0099ff00;
    height: 90px;
    display: flex;
}

/*MENU PRINCIPAL*/


.img-logo-normal {
    width: 200px;
    transition: 0.5s;
}

/*LOGO PRINIPAL MAIOR*/


.img-logo-mini {
    padding: 8px;
    width: 60px;
    display: none;
    transition: 0.5s;
}

#navbar ul {

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {

    display: inline-block;
    margin-left: 26px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

#icone2 {
    color: var(--cor2);
    font-size: 30px;
    font-weight: 400;
    text-align: end;
    display: flex;
    justify-content: end;
    padding-top: 12px;
}

#navbar ul li a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #1a689d;
    position: absolute;
    bottom: 0;
    left: 0;
}

#navbar ul li a:hover ::after {
    width: 100%;
}

#social {
    display: flex;
    justify-content: end;
    gap: 18px;
}

#social i {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* SCROLL*/
#menu.rolagem {
    background-color: #1a699d60;
    backdrop-filter: blur(10px);
    height: 70px;
}

div.rolagem .img-logo-mini {
    display: block;
}

div.rolagem .img-logo-normal {
    display: none;
}

/*MENU MOBILE*/
#menu-mobile {
    background-color: rgb(24, 24, 28);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    height: 0;
    width: 100%;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    z-index: 12;
}

#menu-mobile nav a {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
}

#menu-mobile nav a:hover {
    color: rgb(52, 167, 255);
}

#menu-mobile ul {
    padding: 0;
    list-style-type: none;
}

.hamburguer {
    display: flex;
    justify-content: end;
    display: none;
    color: white;
    font-size: 26px;
}

.abrir {
    display: block;
    width: 100%;
}

#menu .row.black {
    background-color: rgb(24, 24, 28);
}






@media (max-width: 992px) {
    .hamburguer {
        display: flex;
        text-align: end;
    }

    .headiline {
        width: 80%;
        height: 60vh;
    }

    .titulo {
        font-size: 35px;
        width: 100%;
    }

    #navbar {
        display: none;
    }

    #social {
        display: none;
    }

    #menu-mobile.abrir {
        visibility: visible;
        height: 100vh;
    }

    .sec-banner {
        justify-content: end;
    }

}